<template>
    <div class="alert alert-danger" role="alert" v-if="error">
        Error during adding new command
    </div>

    <form role="form">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Strength</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" v-model="form.name" placeholder="Command name">
                </div>
            </td>
            <td>
                <div class="input-group mb-3">
                    <input type="number" min="0" max="9" class="form-control" v-model="form.strength" placeholder="Strength [0;9]">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="input-group mb-3">
                    &nbsp;
                </div>
            </td>
            <td>
                <div class="input-group mb-3">
                    <button type="submit" class="btn btn-success" :disabled="simulationPlaing" @click.prevent="store">
                        <div class="btn-width" v-if="loading">Loaiding...</div>
                        <div class="btn-width" v-else>Add command</div>
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    </form>
</template>

<script>
    import axios from 'axios'

    export default {
        props: ['simulationPlaing'],
        data: () => ({
            form: {
                name: '',
                strength: ''
            },
            loading: false,
            error: false
        }),
        mounted() {
            //console.log('Component mounted: Commands Table')
        },
        methods: {
            store() {
                this.loading = true;
                this.error = false;
                axios.post('/api/command', this.form,  {
                    headers: {
                        'Content-type': 'application/json'
                    }
                })
                .then(res => {
                    if (res.status != 200) {
                        this.error = true;
                        console.log(err)
                    } else {
                        this.$emit('command-added', res.data);
                    }
                })
                .catch(err => {
                    this.error = true;
                    console.log(err.response.data)
                })
                .finally(() => {
                    this.loading = false;
                });
            }
        }
    }
</script>

<style scoped>
    .btn-width {
        width: 150px;
    }
</style>
