<template>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Strength</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="command in commands">
            <td>{{ command.name }}</td>
            <td>{{ command.strength }}</td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        props: {
            commands: {
                type: Object,
                default: null
            },
        },
        mounted() {
            //console.log('Component mounted: Commands Table')
        }
    }
</script>
