<template>
    <div class="container-fluid">
        <div class="row content">
            <div>
                <h2>Champions League</h2>

                <spin v-if="loadingCommands"></spin>
                <div v-else-if="!loadingCommands && !notFoundCommands">
                    <CommandsTable :commands="commands"></CommandsTable>
                </div>
                <div v-else class="alert alert-danger" role="alert">
                    Resource was not found or another problem
                </div>

                <br />
                <h5>Add new command</h5>
                <AddCommandTable :simulationPlaing="simulationPlaing" v-on:command-added="commandAdded"></AddCommandTable>
            </div>

            <div class="col-sm-9">
                <h4>Simulation</h4>
                <hr>
                <div class="input-group mb-3">
                    <button type="submit" class="btn btn-success" :disabled="simulationPlaing" @click.prevent="runSimulation">
                        <div class="btn-width">Run simulation</div>
                    </button>
                    &nbsp;&nbsp;&nbsp;
                    <button type="submit" class="btn btn-info" :disabled="!simulationPlaing" @click.prevent="stopSimulation">
                        <div class="btn-width">Stop simulation</div>
                    </button>
                </div>
                <div class="alert alert-success" role="alert">
                    <span v-if="simulationPlaing"> Simulation "{{ simulation.name }}" in progress</span>
                    <span v-else>Click "Run simulation" button to start new simulation</span>
                </div>
                <div v-if="!loadingInitSimulation && notFoundInitSimulation" class="alert alert-danger" role="alert">
                    Resource was not found or another problem
                </div>

                <hr>

                <h4>League Table</h4>
                <spin v-if="loadingCommands"></spin>
                <div v-else-if="!loadingCommands && !notFoundCommands">
                    <LeagueTable
                        :commands="commands"
                        :simulation="simulation"
                        :simulationPlaing="simulationPlaing"
                        v-on:simulation-next-week-played="simulationNextWeekPlayed"
                        v-on:ordered-commands="simulationOrderedCommands"
                    ></LeagueTable>
                </div>
                <div v-else class="alert alert-danger" role="alert">
                    Resource was not found or another problem
                </div>

                <br />
                <h4>Match Results Table</h4>
                <spin v-if="loadingCommands"></spin>
                <div v-else-if="!loadingCommands && !notFoundCommands">
                    <MatchResultsTable :commands="commands" :simulation="simulation"></MatchResultsTable>
                </div>
                <div v-else class="alert alert-danger" role="alert">
                    Resource was not found or another problem
                </div>

                <br />
                <h4>Week Predictions Table</h4>
                <spin v-if="loadingCommands"></spin>
                <div v-else-if="!loadingCommands && !notFoundCommands">
                    <WeekPredictionsTable :commands="commands" :simulation="simulation"></WeekPredictionsTable>
                </div>
                <div v-else class="alert alert-danger" role="alert">
                    Resource was not found or another problem
                </div>
            </div>
        </div>
    </div>

    <footer class="container-fluid">
        <p>Footer Text</p>
    </footer>

</template>

<script>
    import axios from "axios"
    import Spin from  "../components/Spin"
    import CommandsTable from  "../components/Commands/CommandsTable"
    import AddCommandTable from  "../components/Commands/AddCommandTable"
    import LeagueTable from "../components/League/LeagueTable"
    import MatchResultsTable from "../components/League/MatchResultsTable"
    import WeekPredictionsTable from "../components/League/WeekPredictionsTable"

    export default {
        components: {
            Spin,
            CommandsTable,
            AddCommandTable,
            LeagueTable,
            MatchResultsTable,
            WeekPredictionsTable
        },
        data: () => ({
            loadingCommands: true,
            notFoundCommands: false,
            loadingInitSimulation: false,
            notFoundInitSimulation: false,
            simulationPlaing: false,
            commands: [],
            simulation: {
                'season_id': 0,
                'name': '',
                'weekly_game_plan': [],
                'current_week': -1,
                'games': [],
                'orderedCommands': []
            }
        }),
        mounted() {
            //console.log('Component mounted: Simulation.vue')
            this.loadCommands()
        },
        methods: {
            loadCommands() {
                axios.get('/api/commands')
                .then(res => {
                    this.commands = res.data
                    this.loadingCommands = false
                })
                .catch(err => {
                    this.notFoundCommands = true
                    this.loadingCommands = false
                    console.log(err);
                })
            },
            commandAdded(data) {
                this.commands.push(data)
            },
            runSimulation() {
                this.loadingInitSimulation = true;
                this.notFoundInitSimulation = false;
                axios.post('/api/simulation-run')
                    .then(res => {
                        this.simulation.season_id = res.data.id
                        this.simulation.name = res.data.name
                        this.simulation.weekly_game_plan = JSON.parse(res.data.weekly_game_plan)
                        this.loading = false
                        this.simulationPlaing = true;
                    })
                    .catch(err => {
                        this.loadingInitSimulation = false
                        this.notFoundInitSimulation = true
                        console.log(err);
                    })
            },
            simulationNextWeekPlayed(data) {
                this.simulation.games.push(data)
                this.simulation.current_week++;
            },
            simulationOrderedCommands(data) {
                this.simulation.orderedCommands = data;
            },
            simulationRefresh() {
                this.simulation.current_week = -1
                this.simulation.season_id = 0
                this.simulation.name = ''
                this.simulation.weekly_game_plan = []
                this.simulation.games = []
                this.simulation.orderedCommands = [];
            },
            stopSimulation() {
                this.simulationRefresh()
                this.simulationPlaing = false;
            }
        }
    }
</script>

<style scoped>
    .btn-width {
        width: 150px;
    }
</style>
