<template>
    <div class="alert alert-danger" role="alert" v-if="error">
        Error during next week simulation run
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">Position</th>
            <th scope="col">Teams</th>
            <th scope="col">Points</th>
            <th scope="col">Played</th>
            <th scope="col">Won</th>
            <th scope="col">Drawn</th>
            <th scope="col">Lost</th>
            <th scope="col">GD</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(command, key) of orderedSimulation.commands">
            <td>{{ key + 1 }}</td>
            <td>{{ command.name }}</td>
            <td>{{ command.points }}</td>
            <td>{{ command.played }}</td>
            <td>{{ command.won }}</td>
            <td>{{ command.drawn }}</td>
            <td>{{ command.lost }}</td>
            <td>{{ command.gf - command.ga }}</td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-sm-6">
            <button type="submit" class="btn btn-success" :disabled="!simulationPlaing || simulation.current_week + 1 >= simulation.weekly_game_plan.length" @click.prevent="playAllSimulation">
                <div class="btn-width" v-if="loading">Loaiding...</div>
                <div class="btn-width" v-else>Play All</div>
            </button>
        </div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-success float-right" :disabled="!simulationPlaing || simulation.current_week + 1 >= simulation.weekly_game_plan.length || playAll" @click.prevent="playNextWeekSimulation">
                <div class="btn-width" v-if="loading">Loaiding...</div>
                <div class="btn-width" v-else>Next week</div>
            </button>
        </div>
    </div>
</template>

<script>
    import axios from "axios";

    export default {
        props: {
            simulation: {
                type: Object,
                default: null
            },
            commands: {
                type: Object,
                default: null
            },
            simulationPlaing: {
                type: Boolean,
                default: false
            }
        },
        data: () => ({
            loading: false,
            error: false,
            playAll: false
        }),
        mounted() {
            //console.log('Component mounted: League Table')
        },
        methods: {
            playNextWeekSimulation() {
                this.loading = true;
                this.error = false;
                axios.post('/api/simulation-play-next-week', {'season_id': this.simulation.season_id, 'week_id': this.simulation.current_week+1},  {
                    headers: {
                        'Content-type': 'application/json'
                    }
                })
                .then(res => {
                    if (res.status != 200) {
                        this.error = true;
                        console.log(err)
                    } else {
                        this.$emit('simulation-next-week-played', res.data);
                    }
                })
                .catch(err => {
                    this.error = true;
                    console.log(err.response.data)
                })
                .finally(() => {
                    this.loading = false;
                });
            },
            sortCommands: function(o) {
                return Object.keys(o).sort().reduce((r, k) => (r[k] = o[k], r), {});
            },
            playAllSimulation() {
                this.playAll = true;
                if (this.simulation.current_week + 1 < this.simulation.weekly_game_plan.length) {
                    this.playNextWeekSimulation()
                    const ctx = this;
                    window.setTimeout(function () {
                        ctx.playAllSimulation();
                    }, 1000)
                }
                else {
                    this.playAll = false;
                }
            }
        },
        computed: {
            orderedSimulation() {
                // generate data
                let data = {
                    commands: {}
                };

                for (let i = 0; i < this.commands.length; i++) {
                    let key = this.commands[i].id;
                    data.commands[key] = {
                        id : this.commands[i].id,
                        name : this.commands[i].name,
                        points: 0,
                        played: 0,
                        won: 0,
                        drawn: 0,
                        lost: 0,
                        gf: 0,
                        ga: 0,
                    };
                }

                // add simulation data
                for (let i = 0; i <= this.simulation.current_week; i++) {
                    let games = this.simulation.games[i];
                    for (let j = 0; j < 2; j++) {
                        data.commands[ games[j].command1_id ].played += 1;
                        data.commands[ games[j].command2_id ].played += 1;
                        data.commands[ games[j].command1_id ].gf += games[j].command1_goals;
                        data.commands[ games[j].command2_id ].gf += games[j].command2_goals;
                        data.commands[ games[j].command1_id ].ga += games[j].command2_goals;
                        data.commands[ games[j].command2_id ].ga += games[j].command1_goals;
                        // Drawn
                        if (games[j].command1_drawn) {
                            data.commands[ games[j].command1_id ].drawn += 1;
                            data.commands[ games[j].command2_id ].drawn += 1;
                            data.commands[ games[j].command1_id ].points += 1;
                            data.commands[ games[j].command2_id ].points += 1;
                        }
                        // Win and Lost
                        else {
                            if (games[j].command1_win) {
                                data.commands[ games[j].command1_id ].won += 1;
                                data.commands[ games[j].command2_id ].lost += 1;
                                data.commands[ games[j].command1_id ].points += 3;
                            }
                            else {
                                data.commands[ games[j].command1_id ].lost += 1;
                                data.commands[ games[j].command2_id ].won += 1;
                                data.commands[ games[j].command2_id ].points += 3;
                            }

                        }
                    }
                }

                // sort commands based on points
                let list = [];
                for (let prop in data.commands) {
                    list.push({id: data.commands[prop].id, points: data.commands[prop].points});
                }
                list.sort((a, b) => (a.points < b.points) ? 1 : -1)

                let orderedCommands = [];
                for (let prop in list) {
                    orderedCommands.push(data.commands[list[prop].id])
                }
                data.commands = orderedCommands;

                this.$emit('ordered-commands', orderedCommands);

                return data
            }
        }
    }
</script>
