<template>
    <h6>
        <span v-if="simulation.current_week >= 0">{{ simulation.current_week + 1 }}th Week Match Results</span>
        <span v-else>No Week Match Results Yet</span>
    </h6>
    <table v-if="simulation.current_week >= 0" class="table">
        <thead>
        <tr>
            <th scope="col">Team 1</th>
            <th scope="col">Match result</th>
            <th scope="col">Team 2</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ Game1Team0Name }}</td>
            <td>{{ Game1Goals }}</td>
            <td>{{ Game1Team1Name }}</td>
        </tr>
        <tr>
            <td>{{ Game2Team0Name }}</td>
            <td>{{ Game2Goals }}</td>
            <td>{{ Game2Team1Name }}</td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        props: {
            simulation: {
                type: Object,
                default: null
            },
            commands: {
                type: Object,
                default: null
            },
        },
        mounted() {
            //console.log('Component mounted: Match Results Table')
        },
        methods: {
            getTeamName: function(game, team) {
                let cmdId = this.simulation.games[this.simulation.current_week][game]['command'+team+'_id']
                for (let i = 0; i < this.commands.length; i++) {
                    if (this.commands[i].id == cmdId) return this.commands[i].name
                }
                return 'Unknown'
            },
            getGameGoals: function(game) {
                let gm = this.simulation.games[this.simulation.current_week][game]
                return gm.command1_goals + ' -- ' + gm.command2_goals
            }
        },
        computed: {
            Game1Team0Name() {
                return this.getTeamName(0, 1)
            },
            Game1Team1Name() {
                return this.getTeamName(0, 2)
            },
            Game2Team0Name() {
                return this.getTeamName(1, 1)
            },
            Game2Team1Name() {
                return this.getTeamName(1, 2)
            },
            Game1Goals() {
                return this.getGameGoals(0)
            },
            Game2Goals() {
                return this.getGameGoals(1)
            }
        }
    }
</script>
