<template>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Teams</th>
            <th scope="col">Predictions</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(command, index) in orderedPredictions.commands">
            <td>{{ command.name }}</td>
            <td>{{ command.predictions }} %</td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        props: {
            simulation: {
                type: Object,
                default: null
            },
            commands: {
                type: Object,
                default: null
            },
        },
        mounted() {
            //console.log('Component mounted: WeekPredictions Table')
        },
        computed: {
            orderedPredictions() {
                // generate data
                let data = {
                    commands: []
                };

                for (let i = 0; i < this.commands.length; i++) {
                    data.commands.push({
                        id : this.commands[i].id,
                        name : this.commands[i].name,
                        predictions: 0,
                    })
                }

                // calculate prediction
                if (this.simulation.current_week > -1) {
                    for (let i = 0; i < data.commands.length; i++) {
                        for (let j = 0; j < this.simulation.orderedCommands.length; j++) {
                            if (this.simulation.orderedCommands[j].id == data.commands[i].id) {
                                if (this.simulation.orderedCommands[j].won > 0)
                                    data.commands[i].predictions = this.simulation.orderedCommands[j].won / this.simulation.orderedCommands[j].played;
                                break;
                            }
                        }
                    }

                    // map prediction
                    let sum = 0;
                    for (let i = 0; i < data.commands.length; i++) {
                        sum += data.commands[i].predictions;
                    }
                    for (let i = 0; i < data.commands.length; i++) {
                        data.commands[i].predictions = (data.commands[i].predictions * 100 / sum).toFixed(1)
                    }
                }

                return data
            }
        }
    }
</script>
